.container {
  padding: 15px;
  width: 440px;
  margin: 0px auto;
  margin-top: -350px;
}

.btn-agregar {
  vertical-align: top;
  padding: 2px 5px;
  background-color: rgb(49, 136, 148);
  color: white;
  width: 85px;
  margin-left: 125px;
}

.input-num {
  vertical-align: middle;
}

.grupo {
  height: 200px;
  width: 420px;
	overflow-y: scroll;
}

.mat-tree-node {
  margin-left: 12px;
}

.nested-node {
  padding-left: 40px;
}

.example-tree .nested-node > .mat-tree-node {
  padding-left: 40px;
}

.example-tree ul,
.example-tree li {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}

.example-tree-invisible {
  display: none;
}

.espace {
  margin-left: 12px;
}

